.wrapper {
	position: absolute;
	z-index: 1;
	border: 1px solid #000;
	width: 500px;
	height: 550px;
	padding: 10px;

	animation: slideIn 0.5s ease-in-out forwards;
	header {
		width: 100%;
		height: 10%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		button {
			height: 50%;
		}
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	main {
		height: 90%;
		overflow: hidden;
		overflow-y: scroll;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(52.5%);
	}
}
